body{
  height: 98vh;

  font-family: 'Raleway', sans-serif;
  /* background: rgb(93,231,247);
  background: linear-gradient(0deg, rgba(93,231,247,1) 0%, rgba(255,255,255,1) 36%, rgba(93,231,240,1) 100%);
   */
  /*background-color: white;*/
  background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(93,231,247,1) 100%);
background-repeat: no-repeat;
}


h1 {
  font-size: 40px;
}

h2{
  font-size: 30px;
}

p{
  font-size: 14px;
}


.survey-font-title{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.center-box{
  display: grid;
  justify-content: center;
}

.nav-style{
  background-color: #004099;

}

.nav-style a{
  color: #b2b2b2;
  font-style: normal;
  line-height: 1.5;
  font-size: 14px;
  margin-left: 20px;
  transition: 1s;
  margin-top: 0;
  margin-bottom: 0;
}

.nav-style a:hover{
  background: rgb(0,64,153);
  background: linear-gradient(90deg, rgba(0,64,153,1) 0%, rgba(0,98,233,1) 50%, rgba(0,64,153,1) 100%);

}

.page-font-title{
  font-size: 30px;
  font-weight: bold;
  padding:20px;
font-family: 'Lobster', cursive;
}

.page-title-box{
  background-color: white;
}