body{
  height: 98vh;
  font-family: 'Raleway', sans-serif;
  background-color:#f3f4f4;
}

h1 {
  font-size: 40px;
}

h2{
  font-size: 30px;
}

p{
  font-size: 14px;
}

.survey-font-title{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
.survey-font-title-left{
  font-weight: bold;
  font-size: 30px;
  text-align: inline;
  margin: 40px;
  font-family: 'Bree Serif', serif;
}

.center-box{
  display: grid;
  justify-content: center;
}

.nav-style{
  background-color: #90a2b2;
  text-align: right;
}

.nav-style a{
  color: #f3f4f4;
  font-style: normal;
  line-height: 1.5;
  font-size: 18px;
  margin-right: 40px;
  transition: 1s;
  margin-top: 0;
  margin-bottom: 0;
}

.page-font-title{
  font-size: 36px;
  font-weight: bold;
  padding: 10px;
  padding-bottom: 20px;
  padding-left:40px;
  font-family: 'Lobster', cursive;
  color: white;
  margin-bottom: 40px;
}

.page-title-box{
  background-color: #90a2b2;
}