#create-survey-box, #append-box{ 
    width: 60vw;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
    text-align: inline;
    line-height: 2;
    background-color: #f3f4f4;
    border-radius: 10px;
    box-shadow:0px 2px 5px 5px #666666;
    font-size: 20px;
}

/* .center-box{
  display: grid;
  justify-content: center;
} */
#append-box button {
  float: right;
  font-size: 20px;
  border: 1px solid #808b96;
  background-color: #808b96;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
}

#append-box button:hover, #create-survey-btn:hover{
  background-color: #f3f4f4;
}

#append-box input, #create-survey-box input{
  width: 100%;
}

#append-box hr{
  margin-bottom: 20px;
  margin-top: 40px;
  
}

#create-survey-btn{
  background-color: #808b96;
  border: 1px solid #808b96;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
  padding: 10px;
  transition: background-color 0.5s;
  font-size: 18px;
  font-weight: bold;
}

/* .survey-font-title{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
} */