.survey-entry-box {
    width: 200px;
    height: 200px;
    background-color: #666666;
    margin: 20px;
    text-align: center;
    line-height: 190px;
    transition: background-color 1s;
    border:1px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80% 20%;
    font-family: 'Bree Serif', serif;
    border: #666666 solid 3px;
}

#link-style{
    color: black;
    font-style:normal;
}

.survey-entry-box:hover {
    background-color: #f3f4f4;
}

.survey-entry-box button {
    cursor: pointer;
    background: #666666;
    border: #666666 solid 3px;
    font-size: 18px;
    font-family: 'Bree Serif', serif;
    font-weight: normal;
}

.bottom-style{
    display: grid;
    grid-template-rows: 1fr 1fr 20px;
    grid-template-columns: 30% 20% 20% 30%;
    height: 200px;
    padding: 40px;
    background-color: #90a2b2;
    margin-top: 40px;
    color: white;
    grid-gap: 10px;
    
}

#box1, #box2, #box3{
    display: grid;
    grid-row: span 2;
    grid-column: span 1;
}
#box4, #box5{
    display: grid;
    grid-row: span 1;
    grid-column: span 1;
}
#box6{
    display: grid;
    grid-row: span 1;
    grid-column: span 4;
}

.bottom-title{
    font-size: 18px;
    line-height: 2;
    font-weight: bold;
}

.bottom-contents{
    font-size: 16px;
    line-height: 1.5;
}

#home-empty-title{
    font-family: 'Bree Serif', serif;
    font-size: 36px;
    font-weight: bold;
    margin: 40px;
}

#home-content-box{
    margin:40px;
    margin-top:80px;
    margin-bottom: 80px;
}
